.bg-img1 {
  background-color: 000;
  background-size: cover;
  background-image: url(images/1.jpg);
}
.bg-img2 {
  background-color: 000;
  background-size: cover;
  background-image: url(images/2.jpg);
}
.bg-img3 {
  background-color: 000;
  background-size: cover;
  background-image: url(images/3.jpg);
}
.carousel-item {
  height: 700px;
}
.lead {
  font-size: 1rem;
}
